<h2>Customers</h2>
<ul id="customer_list"></ul>

<script>
  
  $(document).ready(function(){
    loadCustomers()
  })  

  function loadCustomers(){
    $.get("/customers.json", function(response){
      var customer_list = document.getElementById("customer_list")

  	  Array.prototype.forEach.call(response, function(customer){
        /////////////////////////////////////////////////////////
        // THIS IS HAPPENING A SECOND TIME AFTER A THREE CLICKS ON
        // THE 'CUSTOMERS' TAB. WHY?
              customer_list.innerHTML += `<li id="${customer.id}"></li>`
        ///////////////////////////////////////////////////////////
        var customer_list_item = document.getElementById(`${customer.id}`)
        // Reset the customer list item to prevent duplication in nested instrument list
        customer_list_item.innerHTML = ""
        customer_list_item.innerHTML += `<a href="/customers/${customer.id}">${customer.name}</a>`
        customer_list_item.innerHTML += `<ul id="customer-${customer.id}-instruments-list"></ul>`
 
        Array.prototype.forEach.call(customer.instruments, function(instrument){
          document.getElementById(`customer-${customer.id}-instruments-list`).innerHTML += "<li>" + instrument.kind + " - " + instrument.model + "</li>"
        })
      })
    })
  }
</script>